<md-toolbar>
  <button md-icon-button onClick="javascript:history.back();" id="backButton"><md-icon class="md-48">keyboard_backspace</md-icon></button>
  <span class="fill-remaining-space"></span>
  <span>Release Detail</span>
  <span class="fill-remaining-space"></span>
</md-toolbar>

<md-tab-group>
  <md-tab class="tabDetail">
    <template md-tab-label>General</template>
    <template md-tab-content>
      <div class="monTabContent">
        Avancement conforme<br>
        blabla balbl<br>
        kqsmldkmlqskd sqkd mlqks<br>
        klmqskdml<br>
        qskd lmqskdm<br>
        qskld qmsdlk<br>
      </div>
    </template>
  </md-tab>
  <md-tab class="tabDetail">
    <template md-tab-label>Content</template>
    <template md-tab-content>
      <md-grid-list cols="4" [style.background]="'lightblue'">
         <md-grid-tile>One</md-grid-tile>
         <md-grid-tile>Two</md-grid-tile>
         <md-grid-tile>Three</md-grid-tile>
         <md-grid-tile>Four</md-grid-tile>
      </md-grid-list>
    </template>
  </md-tab>
  <md-tab class="tabDetail">
    <template md-tab-label>Graph</template>
    <template md-tab-content>
      <div align="center">
        <h4>Burndown Chart</h4>
        <h6><b><font style='color:#FF6666'>Planned</font> / <font style='color:#0080FF'>Executed</font></b></h6>
        <canvas baseChart
          [data]="lineChartData"
          [labels]="lineChartLabels"
          [chartType]="lineChartType"
          [legend]="lineChartLegend"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </template>
  </md-tab>
</md-tab-group>
