<md-toolbar>
  <button md-icon-button onClick="javascript:history.back();" id="backButton"><md-icon class="md-48">keyboard_backspace</md-icon></button>
  <span class="fill-remaining-space"></span>
  <span>{{releaseBO.gsx$application.$t}} - {{releaseBO.gsx$version.$t}} </span>
  <span class="fill-remaining-space"></span>
</md-toolbar>
<div class="blank-toolbar"></div>

<div class="smallView">
  <md-tab-group (selectChange)="refreshChartFromTemplate()">
    <md-tab class="tabDetail">
      <template md-tab-label>General</template>
      <template md-tab-content>
        <div align="left" id="GraphBurndown">
          <div align="center"><h4>Burndown Chart</h4></div>
          <h6><b><font style='color:#DD0000'>Planned</font> / <font style='color:#00517D'>Executed</font></b></h6>
          <canvas baseChart
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [chartType]="lineChartType"
            [legend]="lineChartLegend"
            [colors]="lineChartColors"
            [options]="chartOptions"></canvas>
        </div>
        <div class="monTabContent">
          <div align="center"><h4>Comments</h4></div>
          <div [innerHTML]="releaseBO.gsx$comment.$t"></div>
        </div>
      </template>
    </md-tab>
    <md-tab class="tabDetail">
      <template md-tab-label>Content</template>
      <template md-tab-content>
        <div align="center"><h4>Content Repartition</h4></div>
        <div align="left" id="GraphEvol">
        <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [colors]="pieChartColors"
                  [options]="chartOptions"></canvas>
        </div>
        <div align="center"><h4>Content Status</h4></div>
        <div align="left" id="GraphStatus">
        <canvas baseChart
                  [data]="pieChartData2"
                  [labels]="pieChartLabels2"
                  [chartType]="pieChartType"
                  [colors]="pieChartColors"
                  [options]="chartOptions"></canvas>
        </div>
        <table>
            <tr class="fisrtLine">
              <td>Ref.</td>
              <td>Details</td>
              <td>d/h-Dev</td>
              <td>d/h-All</td>
              <td>Status</td>
            </tr>
            <tr *ngFor="let contentBOCurrent of contentBOData">
              <td>{{contentBOCurrent.gsx$ref.$t}}</td>
              <td>{{contentBOCurrent.gsx$detail.$t}}</td>
              <td>{{contentBOCurrent.gsx$devestimate.$t}}</td>
              <td>{{contentBOCurrent.gsx$allestimate.$t}}</td>
              <td>{{contentBOCurrent.gsx$status.$t}}</td>
            </tr>
        </table>

      </template>
    </md-tab>
    <md-tab class="tabDetail">
      <template md-tab-label>Quality</template>
      <template md-tab-content>
        <div align='center'>
          <div align="center"><h4>Issues</h4></div>
          <div align="left" id="GraphIssues">
          <h6><b><font style='color:#DD0000'>Open</font> / <font style='color:#00517D'>Total</font></b></h6>
          <canvas baseChart
                    [data]="barChartData"
                    [labels]="barChartLabels"
                    [chartType]="barChartType"
                    [legend]="lineChartLegend"
                    [colors]="barChartColors"
                    [options]="chartOptions"></canvas>
          </div>
        </div>
      </template>
    </md-tab>
  </md-tab-group>
</div>

<div class="largeView">
  <div [ngStyle]="{'background-color': releaseBO.gsx$color.$t}"><br></div>
  <table>
    <tr>
      <td valign="top" width="50%">
        <div align="center"><h4>Burndown Chart</h4></div>
        <h6><b><font style='color:#DD0000'>Planned</font> / <font style='color:#00517D'>Executed</font></b></h6>
        <canvas baseChart
          [data]="lineChartData"
          [labels]="lineChartLabels"
          [chartType]="lineChartType"
          [legend]="lineChartLegend"
          [colors]="lineChartColors"
          [options]="chartOptions"></canvas>
          <div align="center"><h4>Issues</h4></div>
          <div align="left" id="GraphIssues">
          <h6><b><font style='color:#DD0000'>Open</font> / <font style='color:#00517D'>Total</font></b></h6>
          <canvas baseChart
                    [data]="barChartData"
                    [labels]="barChartLabels"
                    [chartType]="barChartType"
                    [legend]="lineChartLegend"
                    [colors]="barChartColors"
                    [options]="chartOptions"></canvas>
          </div>
      </td>
      <td>
        <div>
          <div align="center"><h4>Content Repartition</h4></div>
          <div align="left" id="GraphEvol">
          <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [colors]="pieChartColors"
                    [options]="chartOptions"
                    heigth="20%"></canvas>
          </div>
        </div>
        <div align="center"><h4>Content Status</h4></div>
        <div align="left" id="GraphStatus">
        <canvas baseChart
                  [data]="pieChartData2"
                  [labels]="pieChartLabels2"
                  [chartType]="pieChartType"
                  [colors]="pieChartColors"
                  [options]="chartOptions"></canvas>
        </div>
      </td>
    </tr>
  </table>
</div>
