<md-toolbar>
  <button md-icon-button id="sideNavButton" (click)="start.open()"><md-icon class="md-48">map</md-icon></button>
  <span class="fill-remaining-space"></span>
  <span> Project Tracking </span>
  <span class="fill-remaining-space"></span>
  <a routerLink="/teamMember/"><button md-icon-button id="TeamButton"><md-icon class="md-48">face</md-icon></button></a>
  &nbsp;
  <a routerLink="/releaseCalendar/"><button md-icon-button id="CalendarButton"><md-icon class="md-48">date_range</md-icon></button></a>
  &nbsp;
  <button md-icon-button (click)="refreshData()" id="refreshButton" [hidden]="loadingData"><md-icon class="md-48">autorenew</md-icon></button>
  <md-progress-circle mode="indeterminate" id ="progress-circle" [hidden]="!loadingData" color="accent"></md-progress-circle>
</md-toolbar>
<div class="blank-toolbar"></div>
<md-sidenav-layout>
  <md-sidenav #start (open)="closeStartButton.focus()">
    <div align="center">
      <br>
      <md-input placeholder="Release Filter" maxlength="100" class="demo-full-width" [(ngModel)]="inputReleaseFilterValue" #inputReleaseFilter>
        <md-hint align="end">{{inputReleaseFilter.characterCount}} / 100</md-hint>
      </md-input>
      <br>------------------------------------------<br>
      Last Data Update
      <br>
      {{dateData}}
      <br>------------------------------------------<br>
      <md-input placeholder="GoogleSheetDataUrl" maxlength="100" class="demo-full-width" [(ngModel)]="inputSheetDataValue" #inputSheetData>
        <md-hint align="end">{{inputSheetData.characterCount}} / 100</md-hint>
      </md-input>
      <br><br>
      <button md-raised-button id="saveButton" (click)="saveData()">Save</button>
      <br>------------------------------------------<br>
      Version : 1.0
      <br>
      Author : Franck Beugnet
      <br>
      Contact : franck2903@gmail.com
      <br>------------------------------------------<br>
      <button md-raised-button id="closeButton" #closeStartButton (click)="start.close()">Close</button>
    </div>
  </md-sidenav>
  <md-list>
     <md-list-item class="mylistItem" *ngFor="let currentReleasesBO of (releasesBO | filterRelease: inputReleaseFilterValue)"  routerLink="/releaseDetail/{{currentReleasesBO.gsx$id.$t}}" routerLinkActive="active">
        <md-icon md-list-avatar class="releaseIcon" ><a [style.color]="currentReleasesBO.gsx$color.$t" routerLink="/releaseDetail/{{currentReleasesBO.gsx$id.$t}}" routerLinkActive="active">assessment</a></md-icon>
        <h3 md-line> {{currentReleasesBO.gsx$application.$t}} </h3>
        <p md-line>
          <span> Version : {{currentReleasesBO.gsx$version.$t}} </span>
        </p>
        <p md-line>
          <span> Start : {{currentReleasesBO.gsx$start.$t}} End : {{currentReleasesBO.gsx$end.$t}}  </span>
        </p>
     </md-list-item>
  </md-list>

</md-sidenav-layout>
