<md-toolbar>
  <button md-icon-button id="sideNavButton" (click)="start.open()"><md-icon class="md-48">map</md-icon></button>
  <span class="fill-remaining-space"></span>
  <span> Project Tracking </span>
  <span class="fill-remaining-space"></span>
  <button md-icon-button (click)="refreshData()" id="refreshButton" [hidden]="loadingData"><md-icon class="md-48">autorenew</md-icon></button>
  <md-progress-circle mode="indeterminate" id ="progress-circle" [hidden]="!loadingData" color="accent"></md-progress-circle>
</md-toolbar>

<md-sidenav-layout>
  <md-sidenav #start (open)="closeStartButton.focus()">
    <br>
    <md-input placeholder="GoogleSheetDataUrl" maxlength="100" class="demo-full-width"
          value="1quxG3rmPGlPUtyraANX8LVOc32EAJS4YOlBYUZLnqa4"
          #characterCountHintExample>
      <md-hint align="end">{{characterCountHintExample.characterCount}} / 100</md-hint>
    </md-input>
    <br>
    <button md-raised-button id="saveButton">Save</button>
    <br><br>
    Version : 1.0
    <br>
    Author : Franck Beugnet
    <br><br>
    <button md-raised-button id="closeButton" #closeStartButton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-list>
     <md-list-item class="mylistItem" *ngFor="let currentReleasesBO of releasesBO">
        <md-icon md-list-avatar class="releaseIcon" ><a [style.color]="currentReleasesBO.gsx$color.$t" routerLink="/releaseDetail/{{currentReleasesBO.gsx$id.$t}}" routerLinkActive="active">assessment</a></md-icon>
        <h3 md-line> {{currentReleasesBO.gsx$application.$t}} </h3>
        <p md-line>
          <span> Version : {{currentReleasesBO.gsx$version.$t}} </span>
        </p>
        <p md-line>
          <span> Du {{currentReleasesBO.gsx$start.$t}} Au {{currentReleasesBO.gsx$end.$t}}  </span>
        </p>
     </md-list-item>
  </md-list>
</md-sidenav-layout>
