md-toolbar{
  background : #00517d;
  color: #FFFFFF;
}
md-toolbar md-icon{
  color : #000000;
}
snack-bar-container{
  margin-bottom: 20px;
  height: 48px !important;
}
.md-tab-label{
  min-width: 33% !important;
}
.monTabContent{
  margin-left: 5px;
}
.releaseIcon{
 font-size: 48px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

#refreshButton{
  background-color:#FFFFFF;
}
#backButton{
  background-color:#FFFFFF;
}
#sideNavButton{
  background-color:#FFFFFF;
}
#closeButton{
  background-color:#FF9933;
}
#saveButton{
  background-color:#009900;
}

.md-list-item{
   border-bottom: 1px solid #000000;
}
[hidden] { display: none !important;}
#progress-circle{
  width:45px;
}
md-progress-circle[color='accent'] path, md-spinner[color='accent'] path {
    stroke: #FFFFFF;
}
